/* HEADER SECTION */
/* -------------------------------------------- */
.header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 24px;
    padding: 16px 0;
    color: var(--light-theme-very-light-gray);
}

.color-theme:hover {
    cursor: pointer;
}

.color-theme.dark-mode::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(./img/icon-sun.svg);
    background-size: cover;
}

.color-theme.light-mode::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(./img/icon-moon.svg);
    background-size: cover;
}
/* -------------------------------------------- */



/* NEW NOTE SECTION */
/* -------------------------------------------- */
.new-note {
    margin-bottom: 16px;
}

input {
    padding: 16px 60px;
    width: 100%;
    border: none;
    font-family: var(--font-family);
    caret-color: var(--primary-bright-blue);
    color: var(--dark-grayish-blue);
}

input:focus {
    outline: none;
}

.new-note::before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    position: relative;
    top: 32px;
    left: 24px;
    border-radius: 50%;
    border: 2px solid var(--very-dark-grayish-blue-border);
    background: var(--very-dark-desaturated-blue);
}

.new-note.light-mode::before{
    border: 2px solid var(--light-theme-light-grayish-blue);
    background: var(--light-theme-very-light-gray);
}
/* -------------------------------------------- */



/* MARK NOTES as COMPLETED and UNCOMPLETED */
/* -------------------------------------------- */
.mark {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
} 

.uncompleted:hover::before{
    content: '';
    width: 125%;
    height: 125%;
    display: inline-block;
    position: relative;
    top: -10%;
    left: -12%;
    background-image: var(--primary-check-background);
    border-radius: 50%;
}

.uncompleted:hover::after{
    content: '';
    width: 110%;
    height: 110%;
    display: inline-block;
    position: relative;
    top: -148%;
    left: -4%;
    border-radius: 50%;
}

.uncompleted.light-mode:hover::after {
    background: var(--light-theme-very-light-gray);
}

.uncompleted.dark-mode:hover::after {
    background-color: var(--very-dark-desaturated-blue);
}

.uncompleted.light-mode {
    border: 2px solid var(--light-theme-light-grayish-blue);
    background: var(--light-theme-very-light-gray);
}

.uncompleted.dark-mode {
    border: 2px solid var(--very-dark-grayish-blue-border);
}

.completed {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    background: var(--primary-check-background);
}

.completed + .title-note.light-mode {
    color: var(--light-theme-light-grayish-blue);
    text-decoration: line-through;
}

.completed + .title-note.dark-mode {
    color: var(--dark-grayish-blue);
    text-decoration: line-through;
}

.completed::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 8px;
    height: 8px;
    position: relative;
    left: 6px;
    top: 2px;
    background-image: url(./img/icon-check.svg);
    background-size: cover;
}
/* -------------------------------------------- */



/* DELETE BUTTON */
/* -------------------------------------------- */
.btn-delete {
    /* display: none; */
    width: 16px;
    height: 16px;
    background-image: url(./img/icon-cross.svg);
    background-size: cover;
}

.note:hover .btn-delete{
    display: block;
}
/* -------------------------------------------- */



/* NOTE LIST SECTION */
/* -------------------------------------------- */
.note {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    font-size: 14px;
    /* cursor: move; */
}

.note.drop-area {
    box-shadow: 
        0 0 2px var(--primary-bright-blue), 
        0 0 10px hsl(280, 87%, 65%);
}

.note.light-mode {
    color: var( --light-theme-very-dark-grayish-blue);
    border-bottom: 1px solid var(--light-theme-light-grayish-blue);
}

.note.dark-mode {
    color: var(--light-grayish-blue);
    border-bottom: 1px solid var(--very-dark-grayish-blue-border);
}

.wrapper {
    display: flex;
    align-items: center;
}

.title-note {
    margin-left: 16px;
}

.note:hover{
    cursor: pointer;

}
/* -------------------------------------------- */



/* NOTE DETAILS SECTION */
/* -------------------------------------------- */
.notes-details {
    display: flex;
    justify-content: space-between;
    margin: 0 24px;
    padding: 16px 0;
    font-size: 12px;
    font-weight: 700;
}

.notes-details.light-mode {
    color: var(--light-theme-dark-grayish-blue);
}

.notes-details.dark-mode {
    color: var(--dark-grayish-blue);
}
.layout-desktop {
    display: flex;
    justify-content: center;
}

.layout-desktop div {
    margin: 0 8px;
}
/* -------------------------------------------- */



/* NOTES FILTER SECTION */
/* -------------------------------------------- */
.notes-filter {
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
}

.notes-filter.light-mode {
    color: var(--light-theme-dark-grayish-blue);
}

.notes-filter.dark-mode {
    color: var(--dark-grayish-blue);
}

.notes-filter div {
    margin: 0 8px;
}
/* -------------------------------------------- */


/* HOVER STYLES */ /* DARK THEME */
/* -------------------------------------------- */
.notes-all.light-mode:hover,
 .notes-active.light-mode:hover,
 .notes-completed.light-mode:hover,
 .clear-completed.light-mode:hover {
    cursor: pointer;
    color: var(--light-theme-very-dark-grayish-blue);
 }

 .notes-all.dark-mode:hover,
 .notes-active.dark-mode:hover,
 .notes-completed.dark-mode:hover,
 .clear-completed.dark-mode:hover {
    cursor: pointer;
    color: var(--light-grayish-blue-hover);
 }

.selected {
    color: var(--primary-bright-blue);
}
/* -------------------------------------------- */


/* REORDER NOTES SECTION */
/* -------------------------------------------- */
.reorder-notes {
    text-align: center;
    margin: 16px 0;
    padding: 16px;
    font-size: 14px;
    color: var(--dark-grayish-blue);
}
/* -------------------------------------------- */


/* ATTRIBUTION SECTION */
/* -------------------------------------------- */
.attribution { 
    margin-top: 120px;
    font-size: 11px; 
    text-align: center; 
    color: var(--dark-grayish-blue);
}
.attribution a { 
    color: var(--primary-bright-blue); 
}
/* -------------------------------------------- */
