.header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 24px 0;
    color: #3720A9;

    border: solid red;
}

/* //////////////////////////////////////// */
/* ELEMENTS */
.new-note {
    border: solid yellowgreen;
}

.note-list {
    border: solid blue;
}

.note-left{
    border: dotted hotpink;
}

.clear-completed{
    border: dotted purple;
}

.filters {
    border: dotted green;
}
/* //////////////////////////////////////// */

input {
    padding: 8px;
    min-width: 450px;
    margin: 24px 0;
}

.note {
    display: flex;
    margin: 16px 0;
}

.note div {
    margin-right: 24px;
}