/* IMPORT FONT */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

/* STYLE GUIDE */
:root {
    /* LAYOUT */
    --layout-mobile: 375px;
    --layout-desktop: 1440px;

    /* COLORS */
    --primary-bright-blue: hsl(220, 98%, 61%);
    --primary-check-background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));

    /* LIGHT THEME */
    --very-light-gray: hsl(0, 0%, 98%);
    --very-light-grayish-blue: hsl(236, 33%, 92%);
    --light-grayish-blue: hsl(233, 11%, 84%);
    --dark-grayish-blue: hsl(236, 9%, 61%);
    --very-dark-grayish-blue: hsl(235, 19%, 35%);

    /* DARK THEME */
    --very-dark-blue: hsl(235, 21%, 11%);
    --very-dark-desaturated-blue: hsl(235, 24%, 19%);
    --light-grayish-blue: hsl(234, 39%, 85%);
    --light-grayish-blue-hover: hsl(236, 33%, 92%);
    --dark-grayish-blue: hsl(234, 11%, 52%);
    --very-dark-grayish-blue: hsl(233, 14%, 35%);
    --very-dark-grayish-blue-border: hsl(237, 14%, 26%);

    /* TYPOGRAPHY */
    --font-size: 18px;
    --font-family: 'Josefin Sans', sans-serif;
    --font-weight-regular: 400;
    --font-weight-bold: 700; 
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 720px;
    min-height: 100vh;
    margin: 0 auto;
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight-regular);

    /* DARK THEME */
    background: 
        var(--very-dark-blue ) 
        url(./img/bg-mobile-dark.jpg) 
        no-repeat 50% 0% / auto auto;

    /* LIGHT THEME */
}

.container {
    border-radius: 4px;
    
     /* DARK THEME */
    background-color: var(--very-dark-desaturated-blue);

}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    body {
        max-width: 320px;
    }
    div.notes-filter {
        margin: 16px 0;
        padding: 16px 0;
    }
}

@media (width > 375px) {
    body {
        /* DARK THEME */
        background: 
            var(--very-dark-blue ) 
            url(./img/bg-desktop-dark.jpg) 
            no-repeat 50% 0% / auto auto;

        /* LIGHT THEME */
    }
}

@media (width >= 720px) {
    .layout-desktop {
        margin: 0 20% 0 auto;
    }
}